html,
body {
    margin: 0;
    font-family: 'arial', sans-serif;
}

a {
    text-decoration: none;
    color: azure;

}

nav a {
    text-decoration: none;
    color: azure;
    font-size: larger;

}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    flex-direction: column;
    background-image: url(Vehicle-Sedan1.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.176);

}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
    width: 70%;
}

nav a img {
    display: flex;
}

main ul {
    list-style: none;
}


.titre {
    display: flex;
    padding: 72px;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
   
}
.titre div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#perso {
    display: flex;
    width: 25%;
    height: 25%;
}

 .contact ul {
    display: flex;
    gap: 18px;
    align-items: center;
    
}

#devis h2{
    display: flex;
    padding: 5%;
}

#devis{
   background: white;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 32px;
}

.image p{
   margin: 0;
}

.image{
display: flex;
 gap: 5vw;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
   
}
.im{
background: #fff4f1;
 display: flex;
 width: 40%;
 height: 40%;
 flex-direction: column;
 
}
#devis .image{
    display: flex;
     transform: scale(.8);
}

footer {
    background-color: brown;
    display: flex;
}

.button {
    background: #393939;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 4px 8px;
    padding-right: 14px;
    color: white;
    white-space: nowrap;
}