html,body {
    margin: 0;
    font-family: 'arial', sans-serif;
    background: #c4c4c4;
}

section,h2,div {
    margin: 0;
    padding: 0;
}

#haut {
    display: flex;
    align-items: center;
    padding: 2vh;
}


a {
    text-decoration: none;
    color: azure;
}

nav a {
    text-decoration: none;
    color: azure;
    font-size: larger;
    
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    flex-direction: column;
    background-size: cover;
    background-color: rgb(125 125 125);
}

nav ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    list-style: none;
    width: 70%;
}

nav a img {
    display: flex;
}

main ul {
    list-style: none;
}

main {
    margin: 0%;
    padding: 0%;
    background: #3d3d3d;
}

.titre {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    font-size: 26px;
}

.titre div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#perso {
    display: flex;
    width: 25%;
    height: 25%;
}

.contact ul {
    display: flex;
    gap: 18px;
    align-items: center;
}

#devis h2 {
    display: flex;
    padding: 5%;
    font-size: 32px;
}

#devis {
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 7px;
}

#devis .image {
    display: flex;
}

#devis img {
    display: flex;
}

.image p {
    margin: 0;
    padding: 10px;
}


.image {
    display: flex;
    gap: 4vw;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 107%;
}

.im {
    background: #3d3d3d;
    color: white;
    display: flex;
    width: 31%;
    height: 40%;
    flex-direction: column;
    border-radius: 19px;
}

.im div {
    padding: 4%;
}


#benef {
    background: 2px;
    background: #3d3d3d; ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 32px;
}

#benef h2 {
    display: flex;
    padding: 33px;
}

.qualite {
    display: flex;
    gap: 50px;
    justify-content: center;

}

.qualitecard {
    background: #808080;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 15px;
    border-radius: 16px;
    width: 15%;
  
}

.qualitecard p {
    display: flex;
    padding: 5%;
}



.avis {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 11px;

}

#avis {
    display: flex;
    flex-direction: column;
    background: #808080;
}

#avis h2 {
    display: flex;
    padding: 33px;
}

.aviscard {
    background: #c0c0c0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 16px;
    width: 15%;
    height: 450px;
}

.aviscard div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}





footer {
    background-color: rgb(82 82 82);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footim {
    display: flex;
    align-items: center;
}

.footim img{
    width: 129px;
    height:91px ;
}
footer div ul {
    display: flex;
    list-style: none;
}

.button {
    background: rgb(125 125 125);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 4px 8px;
    padding-right: 14px;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

.buttonsmall {
    background: #6b6b6b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 4px 8px;
    padding-right: 14px;
    color:#cfcfcf;
    white-space: nowrap;
}
